.star {
  visibility: hidden;
}

.fadeIn {
  -webkit-animation: animat_show 0.8s;
  animation: animat_show 0.8s;
  visibility: visible !important;
}


@keyframes animat_show {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes animat_show{
  0%{opacity:0}
  100%{opacity:1}
}

@-moz-keyframes animat_show{
  0%{opacity:0}
  100%{opacity:1}
}

@-o-keyframes animat_show{
  0%{opacity:0}
  100%{opacity:1}
}

@-ms-keyframes animat_show{
  0%{opacity:0}
  100%{opacity:1}
}