* {
    box-sizing: border-box;
}

body {
    background-color: #95dfe2;
}

footer {
    background-color: #ffb6c7;
}

footer a {
    text-decoration: none;
}

.social {
    height: 25px;
    width: auto;
}

section {
    padding: 50px 0;
}

#tienda, #tartas {
    background-color: #8acccf
}

#eventos {
    background-color: #7bb5b8
}