.title {
    background-color: midnightblue;
    height: 80px;
}

.social img {
    height: 25px;
    width: auto;
}

.main {
    padding: 15px;
    margin: 0 auto;
}

.main2 {
    background-color: #F9F9F9;
    padding: 15px;
}

footer {
    background-color: gainsboro
}

nav {
    background-color: burlywood;
}

nav ul {
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-weight: bold;
}

nav a {
    color: darkblue;
    text-decoration: none;
}

nav a:hover {
    color: red;
}